* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 50px;
  line-height: 64px;
  font-weight: 500;
 
}
h2 {
  font-size: 46px;
  line-height: 54px;
  
}
h3 {
  font-size: 30px;

  
}
h4 {
  font-size: 20px;

  
}
h5 {
  font-size: 15px;

 
}
h6 {
  font-size: 12px;


}
p {
  font-size: 16px;
  color: #465b52;

}

.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}
button.normal:hover {
  background-color: #088178;
  color: #fff;
}

button.white {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.4s;
}

body {
 max-width: 1500px;
 width: 100%;
 margin: auto;
}

/*--- Header Start ---*/


 .navigation {
     height: 60px;
     background: linear-gradient(360deg, #01410a, #2aa209, #0d3400);
     
     width: 100%;
     z-index: 9999;
}
 .brand {
     position: absolute; 
     padding-left: 20px;
  
    
}

.brand img{
    width: 60px;
}
 .nav-container {
     max-width: 1200px;
     margin: 0 auto;
    
}
 nav {
     float: right;
  
}
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
}
 nav ul li {
     float: left;
     position: relative; 
}
 nav ul li a,nav ul li a:visited {
     display: block;
     padding: 0 20px;
     line-height: 60px;
     color: #fff;
     background: #262626 ;
     text-decoration: none;
}
 nav ul li a{
     background: transparent;
     color: #FFF;
}
 nav ul li a:hover, nav ul li a:visited:hover {
     background: rgb(1, 160, 1);
     color: #ffffff;
}
 .navbar-dropdown li a{
     background: green;
}
 nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' \025BE';
}
 nav ul li ul li {
     min-width: 180px;
}
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
}
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     box-shadow: 0 0 35px 0 rgba(0,0,0,0.25);
}
/* Mobile navigation */
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;
}
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
    }
     nav {
         width: 100%;
         padding: 55px 0 15px;
    }
     nav ul {
         display: none;
    }
     nav ul li {
         float: none;
    }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
         background: #262626;
    }
     nav ul li ul li a {
         padding-left: 30px;
    }
     .navbar-dropdown {
         position: static;
}
 @media screen and (min-width:800px) {
     .nav-list {
         display: block !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
 }
 

/* Home Page */

#hero {
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../images/nutrition.jpg);
  height: 80vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  
}
#hero .layer{
  position: absolute;
  background: green;
  opacity: 0.5;
  width: 100%;
  height: 0vh;
  animation-name: hero;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes hero{
  from{
    height:80vh;
  }
  to{
    height: 0vh;
  }
}
#hero .onepara{
  padding: 20px;
  background: #1a3c2b;
  border: 2px solid #fff;
  border-radius: 20px;
  margin-bottom: 10px;
  transform: translateY(50%,-50%);
}
#hero h1{
  color: #fff;
}
#hero p{
 text-align: center;
  font-size: 20px;
  color: orange;
}










/*------ Footer ------*/

#footer{
  
  
   background: rgb(14, 16, 41);
   color: #fff;   
   position: relative;
}
.product-list{
   padding:20px 120px 20px 120px;
   display: flex;
   flex-direction: column;
   font-size: 20px;
}
.product-links{
   padding-top: 10px;
   padding-bottom: 10px;
   
}
.product-links a{
   color: #fff;
   font-size: 18px;
   text-decoration: none;
}

.product-links a:hover{
   color: orange;
}

.chapters{
   display: flex;
   justify-content: space-around;
    padding:0px 60px 20px 100px;
}
.chapters .about{
   flex-basis: 20%;
   font-size: 25px;
}
.chapters .about .desc{
   font-size: 16px;
   padding-top: 10px;
   line-height: 20px;
}
.chapters .about .icons{
  margin-top: 20px;
  
}
.chapters .about .icons i{
  cursor: pointer;
  transition: 0.5s;
}
.chapters .about .icons i:hover{
background: #009688;
transform: translateY(-5px);
}
.chapters .touch{
   flex-basis: 20%;
     font-size: 25px;
}
.chapters .touch .desc{
   font-size: 16px;
   padding-top: 10px;
   line-height: 30px;
}
.chapters .quick{
   flex-basis: 20%;
     font-size: 25px;
}
.chapters .quick .desc{
   font-size: 16px;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
      
}
.chapters .quick .desc li{
   list-style: none;
   padding-top: 10px;
}
.chapters .quick .desc a.active{
   color: orange;
   font-size: 18px;
   font-weight: 600;
  
}
.chapters .quick .desc a{
   text-decoration: none;
   color: #fff;
   transition: 0.5s;
}
.chapters .quick .desc a:hover{
   color: orange;
    transform: translateX(-4px);
}
.chapters .useful{
   flex-basis: 20%;
     font-size: 25px;
}

.chapters .useful .desc{
   font-size: 16px;
   padding-top: 10px;
   display: flex;
   flex-direction: column;
   padding: 10px;

}
.chapters .useful .desc li{
   list-style: none;
   padding-top: 10px;
}
.chapters .useful .desc a{
   text-decoration: none;
   color: #fff;
   transition: 0.5s;
   
}
.chapters .useful .desc a.active{
   color: orange;
}
.chapters .useful .desc a:hover{
   color: orange;
    transform: translateX(-5px);
}

.copyright{  
   
   background-color: rgba(56, 73, 105, 0.644); 
  
   padding-top: 15px;
   text-align: center;
}


/* ------- Terms & Conditions ----- */

#desc{
 
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 40px;
}
#desc p{
  margin-bottom: 20px;
  text-align: justify;
}


/* -------------  Sitemap   --------- */
#sitemap{
  display: flex;
  flex-direction: row;
  margin: 40px auto;
  max-width: 1000px;
  justify-content: space-around;
}
.sitelinks{
  display: flex;
  flex-direction: column;
}
.sitelinks li{
  list-style:circle;
  font-size: 20px;
  list-style-type:circle;
}
.sitelinks li a{
  font-size: 20px;
  color: #000;
}
.sublinks li{
  list-style:inside;
  list-style-position: inside;
  list-style-type:disc;
  font-size: 18px;
}
.sublinks li a{
  font-size: 18px;
}
.innersublinks li{
  list-style: inside;
  list-style-type:decimal-leading-zero;
  list-style-position: inside;
    font-size: 16px;
}
.innersublinks li a{
  font-size: 16px;
}

@media (max-width:799px){
  #navbar{
   display: flex;
   flex-direction: column;   
   background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), #009688;  
   padding: 50px 0 0 10px;
   width: 100%;
   height: 90vh;
   position: absolute;
   top: 0;
   right: -150%;
   align-items: flex-start;
   justify-content: flex-start;
   transition: 1s;
   cursor: pointer;
    
}
#navbar.active{
  right: 0;
}
#navbar li{
  padding-bottom: 40px;
}
#navbar li a{
  font-size: 20px;
}
#navbar .sub-menu {
   display: flex;
   flex-direction: column;
  position: absolute;
  opacity: 0;  
  width: 170px;
  height:300px;
  right: 0px;
  top:250px;
  align-items: center;  
  pointer-events: none;
  align-items: flex-start;
  padding: 5px 0 5px 0;
  transition: 0.5s;  
}
#navbar:hover .sub-menu{
 opacity: 1;
 pointer-events: fill;
}
#navbar .sub-menu li{
  padding: 5px;
}
#navbar .sub-menu li a{
  font-size: 16px;
}
#close{
  display:initial;
  padding-left: 30px;
  padding-bottom: 50px;
}
#close i{
   font-size: 25px;
   color: #000;
}
#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobile i{
  z-index: 999;
  
  font-size: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}



}


@media (max-width:499px){
  #header img{
    width: 50px;
  }

  #navbar{
   display: flex;
   flex-direction: column;   
   background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), #009688;  
   padding: 10px 0 0 10px;
   width: 300px;
   height: 90vh;
   position: absolute;
   top: 0;
   right: -300px;
   align-items: flex-start;
   justify-content: flex-start;
   transition: 1s;
   cursor: pointer;
    
}
#navbar.active{
  right: 0;
}
#navbar li{
  padding-bottom: 10px;
}
#navbar li a{
  font-size: 14px;
}
#navbar .sub-menu {
   display: flex;
   flex-direction: column;
  position: absolute;
  opacity: 0;  
  width: 170px;
  height:300px;
  right: 0px;
  top:250px;
  align-items: center;  
  pointer-events: none;
  align-items: flex-start;
  padding: 5px 0 5px 0;
  transition: 0.5s;  
}
#navbar:hover .sub-menu{
 opacity: 1;
 pointer-events: fill;
}
#navbar .sub-menu li{
  padding: 5px;
}
#navbar .sub-menu li a{
  font-size: 12px;
}
#close{
  display:initial;
  padding-left: 30px;
  padding-bottom: 20px;
}
#close i{
   font-size: 25px;
   color: #000;
}
#mobile{
  display: flex;
  align-items: center;
  justify-content: center;
}
#mobile i{
  z-index: 999;
  
  font-size: 25px;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
}

/*--- Hero -----*/

#hero .onepara{
  padding: 10px;
  
  border-radius: 20px;
  margin-bottom: 10px;
  transform: translateY(50%,-50%);
  align-items: center;
  text-align: center;
}
#hero h1{
  color: #fff;
  font-size: 25px;
}
#hero p{
 text-align: center;
  font-size: 15px;
  color: orange;
}


}